.containerr{
    background-color: #2c344c;
}
.footer{
    margin: 0 20%;
    color: white;
    padding: 5% 0;
}

.pract ul{
    line-height: 30px;
}

.Latest{
    background-color: #222a40;
}


.footerLast{
    display: flex;
    justify-content: space-between;
    padding: 20px 21%;
    color: white;
    align-items: center;  
}
.flogo{
    background-color:#222a40;
    text-align: center;
}
.flogo img{
    width: 40px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.flogo span{
    font-size: 10px;
    font-weight:normal;
    display: block;
    position: relative;
    bottom: 12px;
    left: 18px;
    word-spacing: 5px;
}
.fbox1{
    display: inline;
}
.container-fluid{
    background-color: #222a40;

}
.social{
    width: 150px;
    display: flex;
    justify-content: space-around;
}
.social i:hover{
    color: #eb9405;
}