<div class="containerr">
    <div class="row footer">
        <div class="fHead col-md-3">
            <div class="flogo mb-4 py-2">
                <img src="../../../assets/img/logo.png" alt="">
                <a class="navbar-brand ms-2" href="#">Shamsad</a>
                <span>Low Attorney Firm</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus rem cumque saepe?</p>
        </div>

        <div class="col-md-3 pract">
            <h5 class=" mb-3">Practice Area</h5>
            <ul>
                <li>Family Low</li>
                <li>Social issue</li>
            </ul>
            <h5 class=" mb-3">Practice Area</h5>
            <ul>
                <li>Family Low</li>
                <li>Social issue</li>
                <li>Family Low</li>
            </ul>
        </div>

        <div class="col-md-3 Latest">
            <h5>Latest news</h5>
            <div class="fbox1 mb-5">
                <img src="../../assets/img/banner4.jpeg" alt="..." width="50px">
                <div class="boxinfo">
                    <p>12 may 2022</p>
                    <h6>We are Providing</h6>
                    <h6>Quality Service</h6>
                </div>
            </div>
            <div class="fbox">
                <img src="../../assets/img/banner4.jpeg" alt="..." width="50px">
                <p>12 may 2022</p>
                <h6>We are Providing</h6>
                <h6>Quality Service</h6>
            </div>

        </div>

        <div class="col-md-3">
            <h5>Contact</h5>
            <i></i>
            <span>4444 5555 2222</span>
            <i></i>
            <span>emil .com @</span>
            <i></i>
            <span>address 34,df jsdbfkas</span>
        </div>
    </div>
    <div class="container-fluid footerLast">
        <span>cCopyright 2022 by Shamsad Alam</span>
        <div class="social social-md me-3">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-pinterest"></i>
        </div>
    </div>

</div>